body {
    margin: 0;
}

.header {
    background-color: #66BFBF;
    padding: 20px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar {
    position: absolute;
    right: 30px;
    top: 30px;
    
}

.nav__item {
    margin-right: 20px;
    
}

.nav__link {
    text-decoration: none;
    color: #11999E;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav__link:hover {
    color: #0A4D68;
}

.nav__list {
    list-style-type: none ;
    margin: 10px;
    padding:0;
    display:flex;
}



.nav-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.container {
    background-color: #E4F9F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
   
}

.container__image {
    border-radius: 100%;
    margin: 20px;
}

.container__title, .container__subtitle {
    font-family: 'Merriweather', serif;
    color: #66BFBF;
}

.middle-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.middle-container__title {
    font-family: 'Merriweather', serif;
    color: #66BFBF;
}

.middle-container__text {
    color: #2E4F4F;
}


.middle-container__section {
    width: 30%;
    margin-bottom: 20px;
}

.mains {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
}

.main ul {
    list-style: none;
    padding: 0;
}

.main li {
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E4F9F5;
    padding: 20px;
}

.footer {
    background-color: #66BFBF;
    padding: 20px;
    text-align: center;
}
.footer__nav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}


.footer__list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
}

.footer__item {
    margin-right: 20px;
}


.footer__link {
    text-decoration: none;
    color: #11999E;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: #0A4D68;
}

.footer__copyright {
    margin-top: 40px;
    color: #EAF6F6;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.form{
    max-width: 600px;
    width: 100%;
}
.form__label{
    display: block;
    margin: 10px 0;
    text-align: left;
}

.form__input, .form__textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form__textarea{
    resize: vertical;
}

@media (max-width: 768px) {
    
    .middle-container__section {
        width: 80%;
    }

    .main section {
        width: 80%;
    }

    .footer__nav {
        justify-content: center;
    }
    

    .nav-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .nav__list {
        display: none;
    }
    
    
    .nav-toggle:checked + .nav__list {
        display: flex;
        
    }

    .navbar {
        position: static;
        text-align: center;
    }

    
    

    .nav__item {
        margin: 10px 0;
    }

   
    
}

